@{
    ViewData["Title"] = "Acceso restringido";
}

<div class="text-center mt-5">
    <h1>🔒 Acceso restringido</h1>
    <p class="lead">
        Escanea el QR de la boda para acceder 💍
    </p>
</div>
